.calculator {
  display: flex;
  flex-direction: column;
  width: 350px;
  border-radius: 3px;
  margin: 0 auto;
  font-weight: bold;
  padding: 10px 0px 0;
  font-size: 18px;
  color: white;
  background: rgb(180, 103, 179);
  background: linear-gradient(
    135deg,
    rgba(180, 103, 179, 1) 0%,
    rgba(69, 61, 119, 1) 100%
  );
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.line {
  border-bottom: 1px solid white;
}

.total {
  font-size: 24px;
}

.calculator input {
  width: 130px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #b8b8b8;
  color: white;
  transition: transform 500ms;
  font-size: 18px;
  caret-color: white;
  text-align: right;
}

.calculator input:hover {
  transform: scale(1.05);
  border-bottom: 2px solid #e6e6e6;
}
.calculator input:focus {
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
