.nav_left {
  width: 250px;
  padding: 25px 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

li a {
  text-decoration: none;
  color: var(--text_color);
  cursor: pointer;
  line-height: 20px;
  display: block;
  margin-bottom: 15px;
}

li a:hover {
  color: var(--link_color);
  font-size: 20px;
}

.active {
  color: var(--link_color);
  font-size: 20px;
}

.dropdown a {
  padding-left: 20px;
  font-size: 16px;
}

.dropdown a:hover {
  padding-left: 20px;
  font-size: 18px;
}
.dropdown .active {
  color: red;
  font-size: 18px;
}
