.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  background-color: #2f3034;
  border-radius: 3px;
  margin: 20px auto;
  padding: 40px 0 20px;
}

.form input {
  width: 250px;
  height: 50px;
  background: transparent;
  color: white;
  caret-color: white;
  border: none;
  border-bottom: 2px solid #b8b8b8;
  font-size: 1rem;
  margin: 10px auto;
  transition: transform 500ms;
}

.form input:hover {
  transform: scale(1.05);
}

.form input:focus {
  outline: 0;
}

.form input::placeholder {
  color: white;
}

.form input[type="submit"] {
  width: 100px;
  cursor: pointer;
  border: 2px solid #b8b8b8;
  border-radius: 3px;
  margin-top: 40px;
  transition: transform 500ms;
}

.form input[type="submit"]:hover {
  transform: scale(1.15);
}

.lostpassword h2 {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin: 0 0 40px;
}

.lostpassword input[type="submit"] {
  width: 200px;
}

.footer {
  background: transparent;
  border: none;
  color: white;
  font-size: 0.8rem;
  margin: 40px auto 0;
}

.footer_item {
  text-align: center;
  padding: 10px 0;
  transition: transform 500ms;
}

.footer_item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.message {
  max-width: 550px;
  background-color: #2f3034;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 3px;
  margin: 20px auto;
  padding: 18px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 10px 150px #2f3034 inset;
  -webkit-text-fill-color: white;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 10px 150px #2f3034 inset;
  -webkit-text-fill-color: white;
}
