/* .toDoItems {
  width: 300px;
  border: 1px solid white;
}

.toDoItems p {
  position: relative;
}

.toDoItems p input {
  background: transparent;
  border: 0;
  color: white;
}

.toDoItems p input:focus {
  outline: none;
}

.toDoItems p span {
  position: absolute;
  right: 20px;
  cursor: pointer;
} */
