.nav {
  flex: 0 1 auto;
  width: auto;
  padding: 25px 0px;
}

.nav ul {
  width: 250px;
  font-size: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: var(--text_color);
  text-decoration: none;
  cursor: pointer;
  line-height: 45px;
  border-left: 2px solid #ffffff00;
  padding: 0 18px;
}

li a:hover {
  background-color: var(--content_color);
  color: var(--active_color);
}

.active,
.activeTitle {
  color: var(--active_color);
  border-left: 2px solid var(--active_color);
}

.active {
  background-color: var(--content_color);
}

.dropdown {
  padding-bottom: 10px;
}

.dropdown a {
  font-size: 16px;
  line-height: 35px;
  padding-left: 30px;
}

.dropdown a:hover {
  border-left: 2px solid var(--content_color);
  padding-left: 30px;
}

.dropdown .active {
  background-color: var(--content_color);
  border-left: 2px solid var(--content_color);
  padding-left: 30px;
}
