.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper h1 {
  margin: 30px 0;
}

.wrapper a {
  border: 1px solid #5a5a5a;
  border-radius: 3px;
  margin: 20px auto;
  padding: 10px 20px;
  transition: 500ms;
}

.wrapper a:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.italic {
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
}
